
<div class="container">
  Venue: <%= @application.job.venue.name %>
  <br>
  Job Title: <%= @application.job.title %>
  <br>
  Job Description: <%= @application.job.description %>
  <br>
  Application Status: <%= @application.status %>

  <%= link_to "View resunme", @application.resume %>
</div>