
<div class="container">
  Venue: <%= @application.job.venue.name %>
  <br>
  Job Title: <%= @application.job.title %>
  <br>
  Job Description: <%= @application.job.description %>
  <br>
  Application Status: <%= @application.status %>
  <br>
  <%= link_to "Download resume", @application.resume, disposition: "attachment" %>

  <%# below preview currently not behaving correctly, currently same as above %>
  <%#= link_to "View resume", @application.resume, disposition: "preview" %>
</div>