<div class="wwia-banner" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dkowfxwpp/image/upload/v1579955096/wwia/sydney2_w0ek6q.jpg">

  <div class="container">
    <h2>Application: <%= @application.status %></h2>
  </div>

</div>



<div class="container">
  <div class="app-show-card">
    <strong>Venue: </strong><%= @application.job.venue.name %>
    <br>
    <strong>Job Title: </strong><%= @application.job.title %>
    <br>
    <strong>Job Description: </strong><%= @application.job.description %>
    <br>
    <% if @application.resume.attached? %>
      <%= link_to "Download submitted resume", @application.resume, disposition: "attachment" %>
    <% end %>

    <%# below preview currently not behaving correctly, currently same as above %>
    <%#= link_to "View resume", @application.resume, disposition: "preview" %>
  </div>
</div>