

<div class="container">
  <div class="dashboard-container"><h3>Welcome back, <%= @user.first_name %>.</h3></div>
</div>

<div class="container">
  <div class="card-container">
    <div class="row">
      <div class="col-sm card-dashboard">
        <h2>Applications</h2>
        <div class="applications-container">
          <% @applications.each do |application| %>
            <div class="card-application">
              <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
              <div class="card-application-infos">
                <%= link_to "#{application.job.title}", user_application_path(current_user, application.id) %>
                <p><strong>Date Created: </strong><%= application.created_at.strftime("%d-%m-%Y") %></p>
                <% if application.date_applied %>
                  <p><strong>Date Applied: </strong> <%= application.date_applied %> </p>
                <% end %>
                <p><strong>Status: </strong><%= application.status %></p>
              </div>
            </div>
          <% end %>
          <%= link_to "Open Applications", user_applications_path(current_user), class: "btn btn-secondary" %>
        </div>  
      </div>
      <div class="col-sm card-dashboard "> 
          <h2>Search</h2>
          <br>
          <p>Search for your ideal work venue!</p>
          <br>
        <div class="d-flex justify-content-center">
          <%= link_to "Go!", venue_search_path, class: "btn btn-secondary " %>
        </div>
      </div>

      
      <div class="col-sm card-dashboard"> 
        <h2>Resources</h2>

        <% @resources.each do |resource| %>

          <%= link_to resource.title, resource_path(@resources.find_by(title: resource.title)) %>
          <br>
        <% end %>
          <%= link_to 'View all resources', resources_path, class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
</div>



