<div class="featured-venues-container">
  <%# <div class="container"> %>

    <div class="carousel-container">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div style="height: 350px; font-weight: bold;"class="carousel-item  active">
            <img class="d-block w-100" src="<%= @featured_venues[0].banner%>" alt="First slide" >
              <div class="carousel-caption d-none d-md-block">
                <h3>Featured Venues</h3>
                <h6>Job Listings Active!</h6>
                <br><br>
                <h5><%= @featured_venues[0].name %></h5>
                <p><%= @featured_venues[0].description %></p>
              </div>
          </div>
          <div style="height: 350px; font-weight: bold;"class="carousel-item ">
            <img class="d-block w-100" src="<%= @featured_venues[1].banner%>" alt="Second slide" >
              <div class="carousel-caption d-none d-md-block">
                <h3>Featured Venues</h3>
                <h6>Job Listings Active!</h6>
                <br><br>
                <h5><%= @featured_venues[1].name %></h5>
                <p><%= @featured_venues[1].description %></p>
              </div>
          </div>
          <div style="height: 350px; font-weight: bold;"class="carousel-item ">
            <img class="d-block w-100" src="<%= @featured_venues[2].banner%>" alt="Third slide" >
              <div class="carousel-caption d-none d-md-block">
                <h3>Featured Venues</h3>
                <h6>Job Listings Active!</h6>
                <br><br>
                <h5><%= @featured_venues[2].name %></h5>
                <p><%= @featured_venues[2].description %></p>
              </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  <%# </div> %>
</div>
