<div class="container">
  <div class="home-dash-headers">
    <h3>Your Applications</h3>
    <h6>Check in with jobs you've applied for</h6>
  </div>
  
  <div class="dash-home-cards-container">
      <div class="col-sm-12 col-lg-5 card-dash-home">
        <h2>Applications</h2>
        <div class="dashboard-applications-container">
          <p><%= "You haven't yet submitted an application!" if @applications == [] %></p>
          <% @applications.each do |application| %>
            <div class="card-app-home">
              <div class="card-app-home-infos">
                <%= link_to "#{application.job.title}", user_application_path(current_user, application.id) %>
                <p><strong>Date Created: </strong><%= application.created_at.strftime("%d-%m-%Y") %></p>
                <% if application.date_applied %>
                  <p><strong>Date Applied: </strong> <%= application.date_applied %> </p>
                <% end %>
                <p><strong>Status: </strong><%= application.status %></p>
              </div>
            </div>
          <% end %>
        </div>  
        <div class="btn-container">
          <% if @applications != [] %>
            <%= link_to "View All Applications", user_applications_path(current_user), class: "btn btn-secondary" %>
          <% else %>
            <%= link_to "Browse Venues", venues_path, class: "btn btn-secondary" %>
          <% end %>
        </div>
      </div>

      <div class="col-sm-12 col-lg-5 card-dashboard"> 
          <h2>Search</h2>
          <div class="dash-home-search-container">
            <div class="home-search-infos">
              <p>Search for your ideal work venue!</p>
            </div>

          </div>
          <div class="btn-container">
            <%= link_to "Go!", search_path, class: "btn btn-secondary" %>
          </div>


      </div>
      
  </div>
</div>