<div class="navbar sticky-top navbar-expand-sm navbar-light navbar-wwia">
  <%= link_to "/", class: "navbar-brand" do %>
    <%= image_tag "https://res.cloudinary.com/dkowfxwpp/image/upload/v1579755994/wwia/wwia_logo_llpv0y.png" %>
    <% end %>

    <h2 class=""></h2>

  <button class="navbar-toggler btn-primary" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-button active">
          <%= link_to "Dashboard", dashboard_path, class: "nav-link" %>
        </li>
        <li class="nav-button dropdown ml-2">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/pjfitzgerald", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Search", search_path, class: "dropdown-item" %>
            <%= link_to "Applications", user_applications_path(current_user), class: "dropdown-item" %>
            <%= link_to "Venues", venues_path, class: "dropdown-item" %>
            <%= link_to "Regions", regions_path, class: "dropdown-item" %>
            <%= link_to "Resources", resources_path, class: "dropdown-item" %>
            <%= link_to "Settings", "#", class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
