

<% provide :head_tags do %>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        initMap(-37.6907963,145.4061622);  
      });
    </script>
<% end %>


<div class="home-banner">
  <div class="container">
    <h1>WWIA helps international travellers find work in Australia</h1>
    <p>Browse jobs and apply for work in one of our beautiful tourism regions</p>
    <% if !user_signed_in? %>
      <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-secondary" %>
    <% end %>
  </div>
</div>

<% if !user_signed_in? %>

  <div class="features-container">
    <div class="container">
      <h3>Features</h3>
      <br>
      <div class="feature-card-1"></div>
      <div class="feature-card-2"></div>
      <div class="feature-card-3"></div>
      <p><%= link_to "Browse our 76 tourism regions", regions_path %></p>
      <br>
      <p><%= link_to "View job listings from our curated list of hospitality venues", venues_path %> </p>
      <br>
      <p>Contact venue managers directly on our platform</p>
      <br>
    </div>
  </div>

  <div class="process-container">
    <div class="container">
      <h3>The Process</h3>
      <br>
      <p>Find your ideal venues</p> <br>
      <p>Reach out and send an application</p> <br>
      <p>Track your application through your dashboard</p> <br>
    </div>
  </div>

<% else %>

  <%= render 'shared/map' %>

<% end %>


<div class="home-resources-container">
  <div class="container">
    <h3>How to work in Australia</h3>
    <h6>All the relevant information you'll need</h6>
    <div class="home-resources-cards-container">
      <% @resources.each do |resource| %>
        <a class="home-resource-card" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.5)) ,url(<%= resource.banner %>;" href="<%= resource_path(resource) %>">
          <div class="home-resource-card-infos"> 
            <h5><%= resource.title %></h5>
          </div>
        </a>
      <% end %>
    </div>
  </div>
</div>


















