

<div class="content-container">
  
  <%= render 'shared/home_banner' %>

  <% if !user_signed_in? %>

    <%= render 'shared/home_features' %>
    <%= render 'shared/home_process' %>

  <% else %>
    
    <%= render 'shared/map' %>
    <%= render 'shared/dashboard' %>

  <% end %>

  <%= render 'shared/resources' %>

</div>



