<%= content_tag 'div', '', id: 'data', data: {venue1: @venue_coords[0], venue2: @venue_coords[1]} %>

<% provide :head_tags do %>
    <script>
      const test_data = document.getElementById('data')
      console.log(test_data);
      // const rails_venues = "<%= @venues_coords %>";
      // console.log(rails_venues);
      document.addEventListener("DOMContentLoaded", () => {
        initMap(-37.6907963,145.4061622);  
          // addMarkers(rails_venues);
      });
    </script>
<% end %>



<div class="search-container">

  <p>Search for a venue!</p>


  <div class="map-info-container">
    <div class="map-container">
      <div id="map"></div>
    </div>
    <div class="info-container">
    </div>
  </div>


  <div class="search-form-container">
    <%= simple_form_for :search, urL: search_path, method: "GET", html: { class: 'form-inline' } do |f| %>
      <%= f.input :name, input_html: { value: ""} %>
      <%= f.submit "Search", class: "btn btn-primary" %>
    <% end %>
  </div>

  <div class="search-results-container">
    <% @venues.each do |venue| %>
      <div class="search-result-card">
        <%= venue.name %>
        <br>
        <%= venue.address %>
      </div>
    <% end %>
  </div>

</div>


