

<% provide :head_tags do %>
    <script>
      const test_data = document.getElementById('data')
      console.log(test_data);
      // const rails_venues = "<%= @venues_coords %>";
      // console.log(rails_venues);
      document.addEventListener("DOMContentLoaded", () => {
        initMap(-37.6907963,145.4061622, 8);  
          // addMarkers(rails_venues);
      });
    </script>
<% end %>



<div class="search-container">

  <div class="map-info-container">
    <div class="map-search-container">
      <div id="map"></div>
    </div>
    <div class="info-container">
      <div class="info-name-card"></div>
      <div class="info-address-card"></div>
    </div>
  </div>

  <div class="search-form-container">
    <%= simple_form_for :search, urL: search_path, method: "GET", html: { class: 'form-inline' } do |f| %>
      <%= f.input :name, label: false, input_html: {value: ""}, required: false, class: "ml-10" %>
      <%= f.submit "Venue Search", class: "btn btn-primary ml-2" %>
    <% end %>
  </div>

<%# if search query submitted, display matching venues %>

  <% if @search %>
    <div class="search-results-container">
      <% @venues.each do |venue| %>
        <div class="search-result-card">
          <%= venue.name %>
          <br>
          <%= venue.address %>
          <br>
          <%#= link_to "View", venue_path(venue) %>
        </div>
      <% end %>
    </div>
  <% end %>

</div>


