
<div class="search-container">

  <p>Search for a venue!</p>


  <div class="map-info-container">
    <div class="map-container">
      <h2>map goes here</h2>
      <div id="map" data-maps-api-key="test1234<%= ENV['GOOGLE_MAPS_API_KEY'] %>">

      </div>
    </div>
    <div class="info-container">
      <h2>venue info goes here</h2>
    </div>
  </div>






  <div class="search-form-container">
    <%= simple_form_for :search, urL: search_path, method: "GET", html: { class: 'form-inline' } do |f| %>
      <%= f.input :name, input_html: { value: ""} %>
      <%= f.submit "Search", class: "btn btn-primary" %>
    <% end %>
  </div>

  <div class="search-results-container">
    <% @venues.each do |venue| %>
      <div class="search-result-card">
        <%= venue.name %>
        <br>
        <%= venue.description %>
      </div>
    <% end %>
  </div>

</div>


