<% provide :head_tags do %>
    <script>
      document.addEventListener("DOMContentLoaded", function(){
          initMap(-37.6907963,145.4061622)
      });
    </script>
<% end %>



<div class="search-container">

  <p>Search for a venue!</p>


  <div class="map-info-container">
    <div class="map-container">
      <div id="map"></div>
    </div>
    <div class="info-container">
      <h2>venue info goes here</h2>
    </div>
  </div>


  <div class="search-form-container">
    <%= simple_form_for :search, urL: search_path, method: "GET", html: { class: 'form-inline' } do |f| %>
      <%= f.input :name, input_html: { value: ""} %>
      <%= f.submit "Search", class: "btn btn-primary" %>
    <% end %>
  </div>

  <div class="search-results-container">
    <% @venues.each do |venue| %>
      <div class="search-result-card">
        <%= venue.name %>
        <br>
        <%= venue.description %>
      </div>
    <% end %>
  </div>

</div>


