
<div class="wwia-banner" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.4)), url(<%= @venue.banner %>">
  <div class="container">
      <h2><strong><%= @venue.name %></strong></h2>
  </div>

</div>



<div class="container">
  <div class="card-venue-show">
    <p><%= @venue.description %></p>
    <br>
    <br>
    <br>
    <div class="card-venue-jobs">
      <% if @jobs %>
        <div><h3>Current Job Listings</h3></div>
        <% @jobs.each do |job| %>
          <div class="card-venue-job">
            <h4><%= link_to job.title, venue_job_path(@venue, job) %></h4>
            <p><%= job.description %></p>
          </div>
        <% end %>
      <% end %>
      <br>
    </div>
  </div>
</div>


