
<div class="container">
  <div class="card-resource-show">
    <h2>Driving in Australia</h2>


      <p>
        Driving in Australia is an experience to be savoured. It’s a way to experience the wide-open spaces and magnificent natural scenery, and there are so many destinations that can only be experienced by car. It is for this reason that many backpackers love to buy or hire a car and drive around Australia. Before setting off you should make sure you are well prepared for the Australian driving experience.
      </p>

      <h6><strong>Which side of the road do Australians drive on?</strong></h6>
      Australians drive on the left side of the road and the majority of vehicles have the steering wheel on their right side. Around 70% of Australian cars are automatic transmission. When hiring a car, manual transmission (stick-shift) is generally only offered as an option for the cheapest small cars. The gear stick in a manual transmission is operated by the left hand. The arrangement of the pedals is standard worldwide. In most cars, the indicator (turn-signal) stalk will be on the right side of the steering wheel and the windscreen wiper stalk on the left side of the steering wheel.

      <h6><strong>What will the roads be like?</strong></h6>
      <p>
        Australia is an incredibly large and diverse continent which means that driving conditions vary considerably across the country. 
      </p>

      <p>
        Most Australians live on or near the eastern and south-east coasts. Roads within and between the cities and towns in these areas are sealed (paved) and well maintained, as are the main highways that join the state and territory capital cities. There are usually plenty of well marked rest areas on major highways, though these are usually very basic and do not always have toilet facilities.
      </p>

      <p>
        In more remote areas (known as the "Outback") motorists can at times travel for hundreds of kilometres between towns or road houses without opportunities to refuel, get water, refreshments, or use toilets. In these areas, even on major highways, you will have to plan your trip carefully ensuring to include fuel and food stops. 
      </p>

      <p>
        Off the major inter-city highways, road conditions can be difficult in remote areas. Many roads are unsealed (gravel or sandy) and often poorly maintained. Some may only be suitable for four-wheel drives and some (including major sealed highways) may not be passable at all in certain seasons or weather conditions.
      </p>

      <p>
        Motorists need to be self-sufficient and prepared for emergencies when travelling off major highways in remote areas and be aware that outside of major towns, mobile (cell) phone coverage will almost certainly be non-existent. A satellite phone may be a worthwhile and possibly life-saving investment in the most remote, lightly trafficked areas. Permits may also be required to travel through Aboriginal communities in certain remote locations, though these permits can usually be obtained for free.
      </p>

      <h6><strong>What are the road rules and do I need a drivers licence?</strong></h6>
      <p>
        Driving is regulated by state government authorities, but there is a consistent set of road rules across Australia. 
      </p>

      <p>
        As a Working Holiday Visa holder, you are classified as a temporary visitor. The general rule for temporary visitors is that you are allowed to drive vehicles that you are authorised to drive on your overseas licence. For example, if you are licensed to drive a motorcycle on your Italian driver’s licence, then you will be allowed to drive a motorcycle in Australia. This can differ from state to state so it is always best to check the rules of the state you plan to drive in first.
      </p>

      <p>
        If your licence is not in English, you must carry either a certified English translation of your licence, or an International Driving Permit. Again, this is the general rule, but it does differ slightly state to state.
      </p>

      <p>
        If you are pulled over by a police officer whilst driving in Australia, you should show them your licence if requested to do so. If your licence is not in English, then you should show the police officer your certified English translation or IDP. Failure to produce either of these documents could result in charges being laid against you for undertaking a criminal offence.
      </p>

      <h6><strong>For a more in-depth look into each state and territories road rules and information about drivers licences, follow the links below</strong></h6>

      <%= link_to "Canberra & the ACT", "https://www.accesscanberra.act.gov.au/app/home/transport", target: "_blank" %>
      <%= link_to "New South Wales", "https://www.rms.nsw.gov.au/roads/index.html", target: "_blank" %>
      <%= link_to "Northern Territory", "https://nt.gov.au/driving", target: "_blank" %>
      <%= link_to "Queensland", "https://www.tmr.qld.gov.au/", target: "_blank" %>
      <%= link_to "South Australia", "https://www.sa.gov.au/topics/driving-and-transport", target: "_blank" %>
      <%= link_to "Tasmania", "https://www.transport.tas.gov.au/", target: "_blank" %>
      <%= link_to "Victoria", "https://www.vicroads.vic.gov.au/", target: "_blank" %>
      <%= link_to "Western Australia", "https://www.transport.wa.gov.au/index.asp", target: "_blank" %>
      
      
      
      
      <br><br>
      
      
      

      <h6><strong>Useful Links</strong></h6>

        <%= link_to "Driving with an Overseas License", "https://info.australia.gov.au/information-and-services/transport-and-regional/driving-with-an-overseas-licence", target: "_blank" %>
  
        <%= link_to "Australian Road Rules", "https://www.ntc.gov.au/laws-and-regulations/australian-road-rules", target: "_blank" %>
  
        <%= link_to "Registration and Licenses", "https://info.australia.gov.au/information-and-services/transport-and-regional/registration-and-licences", target: "_blank" %>


  </div>
</div>