
<div class="container">
  <div class="card-resource-show">
    <h2>RSA</h2>


      <p>
        If you intend to work in the hospitality industry in a position that requires you to serve alcohol, it is now mandatory to hold a current accredited Responsible Service of Alcohol RSA Certificate.
        Responsible service of alcohol (known as RSA) training is a form of education provided to servers and sellers of alcohol to prevent intoxication, drunk driving and underage drinking. In Australia this training is regulated by state laws. Each state of Australia has its own requirements for RSA training.
      </p>

      <p>
        Most states now allow you to do the RSA Online. This means that you can do the RSA Course at home, at your own pace. It is convenient, easy, much cheaper than face-to-face training and fully accredited. Victoria is the only state that does not offer an online course and you must organise a classroom training with a certified training course.
      </p>

      <p>
        The course takes approximately 5-6 hours to complete depending on your existing knowledge.
        Rates vary between $40 and $160 depending on the package chosen and the state where it is done.
      </p>

      <h6><strong>For more information on each state, see links below</strong></h6>

      <%= link_to "Canberra & the ACT", "https://www.accesscanberra.act.gov.au/app/answers/detail/a_id/1654/kw/rsa#!tabs-3", target: "_blank" %>
      <%= link_to "New South Wales", "https://www.liquorandgaming.nsw.gov.au/working-in-the-industry/training-to-work-in-the-industry/getting-trained/training-courses", target: "_blank" %>
      <%= link_to "Northern Territory", "https://nt.gov.au/industry/hospitality/rules-for-serving-alcohol/serve-alcohol-responsibly", target: "_blank" %>
      <%= link_to "Queensland", "https://www.business.qld.gov.au/industries/hospitality-tourism-sport/liquor-gaming/liquor/training/rsa/certification", target: "_blank" %>
      <%= link_to "South Australia", "https://www.sa.gov.au/topics/business-and-trade/liquor", target: "_blank" %>
      <%= link_to "Tasmania", "https://www.treasury.tas.gov.au/liquor-and-gaming/liquor/responsible-service-of-alcohol", target: "_blank" %>
      <%= link_to "Victoria", "https://www.vcglr.vic.gov.au/i-want/get-or-refresh-my-rsa-rsg", target: "_blank" %>
      <%= link_to "Western Australia", "https://www.dlgsc.wa.gov.au/racing-gaming-and-liquor/liquor/training", target: "_blank" %>

  </div>
</div>