
<div class="container">
  <div class="card-resource-show">
  
    <h2><%= @resource.title %></h2>

    <%= @resource.description %> <br>


    <% if @resource.title == "Visa Information" %>
      

    <% end %>


    <% if @resource.title == "Superannuation" %>


<br><br>
    <% end %>

    <% if @resource.title == "Driving in Australia" %>

    <% end %>

    <% if @resource.title == "RSA" %>

    <% end %>

    <% if @resource.title == "Work Cover" %>

    <% end %>

    <% if @resource.title == "Health Insurance" %>

    <% end %>

    <% if @resource.title == "Rates of Pay" %>

    <% end %>

    <% if @resource.title == "Accommodation" %>

    <% end %>


  </div>
</div>



  <%= link_to "", "", target: "_blank" %>
  <%= link_to "", "", target: "_blank" %>
  <%= link_to "", "", target: "_blank" %>
  <%= link_to "", "", target: "_blank" %>
  <%= link_to "", "", target: "_blank" %>