
<div class="container">
  <div class="card-resource-show">
    <h2>Work Cover</h2>


Everybody working in Australia, including foreign workers, are entitled to basic rights and protections in the workplace including backpackers, seasonal workers, and international students who have a temporary, long stay or permanent visa including a Working Holiday visa.

Workplace laws in Australia generally apply equally to all workers employed in Australia. Employers engaging foreign workers must ensure that they comply with both Australian workplace laws and immigration laws. For more information regarding your rights and entitlements, visit the Fair Work website.

<h6><strong>What is Work Cover?</strong></h6>
<p>
  Work cover or workers compensation is a form of insurance payment to employees if they are injured at work or become sick due to their work.
</p>
<h6><strong>Workers compensation includes payments to employees to cover their:</strong></h6>
    <ul>
    <li>Wages while they're not fit for work</li>
    <li>Medical expenses and rehabilitation</li>
    </ul>

<p>
  Employers in each state or territory have to take out workers compensation insurance to cover themselves and their employees.
</p>

<h6><strong>Who to contact for workers compensation advice and help?</strong></h6>
<p>
  Workers compensation is governed by individual states and territories, and isn't an area that we can help with. Each state and territory has their own regulator that administers and gives advice on workers compensation.
  For more information visit the Fair Work website.
</p>

<h6><strong>For more information about the workers compensation regulator in each state or territory follow the links below</strong></h6>

<%= link_to "Australian Capital Territory", "https://www.worksafe.act.gov.au/", target: "_blank" %>
<%= link_to "New South Wales ", "https://www.sira.nsw.gov.au/", target: "_blank" %>
<%= link_to "Northern Territory", "https://worksafe.nt.gov.au/", target: "_blank" %>
<%= link_to "Norfolk Island ", "http://www.norfolkisland.gov.nf/services/workers-compensation", target: "_blank" %>
<%= link_to "Queensland ", "https://www.worksafe.qld.gov.au/", target: "_blank" %>
<%= link_to "South Australia ", "https://www.rtwsa.com/", target: "_blank" %>
<%= link_to "Tasmania", "https://www.workcover.tas.gov.au/", target: "_blank" %>
<%= link_to "Victoria ", "http://www.worksafe.vic.gov.au/", target: "_blank" %>
<%= link_to "Western Australia ", "https://www.workcover.wa.gov.au/", target: "_blank" %>


  </div>
</div>

