
<div class="wwia-banner" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dkowfxwpp/image/upload/v1584007758/wwia/outback_wjamwd.jpg">

  <div class="container">
      <h2>Regions</h2>
  </div>

</div>

<div class="container">
  <div class="regions-container">
    <% @regions.each_with_index do |region, index| %>
      <% current_state = region.state %>
      <% if @regions[index - 1].state != current_state %>
        <div class="new-state" data-aos="fade-up">
          <h3><%= link_to "#{region.state}", "regions/#{region.state.downcase}"%></h3>
        </div>
      <% end %>

      <%= link_to region_path(region), class: "a-primary" do %>
        <div class="region-card" data-aos="fade-up">
          <% if region.banner %>
            <%= image_tag "#{region.banner}", src: 'img not found' %>
          <% else %>
            <%= image_tag "wwia_logo.png", src: 'img not found' %>
          <% end %>
          <div class="region-card-infos">
            <div>
              <h2><%= region.name %></h2>
              <br>
              <p><%= region.description %></p>
            </div>
          </div>
        </div>

      <% end %> <%# end for link_to %>
    <% end %>  <%# end for .each %>
  </div>
</div>


